.venv/
venv/
__pycache__/
*.pyc
*.db
*.db-journal
*.db.*.bak
node_modules/
.env
dist/
build/
*.spec
!ProcurementCSTool.spec
generated/
CA.doc
PP.doc
CA *.doc
PP *.doc
CST *.xlsx
/docx_templates/
/UI redesign/
